name: Build React App

on:
  workflow_dispatch: # يمكنك تشغيل البناء يدويًا من تبويب Actions
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Upload production build
        uses: actions/upload-artifact@v3
        with:
          name: dist-files
          path: dist
